#Alumnos {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px;
}

#Alumnos h3{
    color:darkred;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 20px;
}

#btnGuardarAlumno{
    background-color: blue;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 96%;
}

#btnGuardarAlumno:hover{
    background-color: antiquewhite;
}

#input{
    background-color: white;
    color:black;
    padding: 30px;
    text-align: justify;
    font-size: 20px;
}